<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DrawingTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DrawingTest.Properties.Settings>
            <setting name="penColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="penSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>822, 602</value>
            </setting>
            <setting name="formLoc" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="showList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fastRedraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="altPenSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="antiAlias" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveBgPNG" serializeAs="String">
                <value>False</value>
            </setting>
        </DrawingTest.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
